{% extends 'base.html' %}


{% block content %}
<br>
<div class="container">
    <div class="h-100 row align-items-center">
        <div class="jumbotron text-center">
            <h1 class="display-4">{{single_post.title}}</h1>
            <p class="lead">{{single_post.content}}.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">All posts</a>
            </p>
            <hr class="my-4">
        </div>
        <div class="container">
        <div class="card text-center" style="width: 30rem; margin-left: 25rem;" >
            <div class="card-header">
            Quote
            </div>
            <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
            </div>
        </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
    